*{
    margin: 0;
    padding: 0;
}
.body{
    min-height: 100vh;
    overflow-y: scroll;
}
.paneContent{
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none;
}
.jumbotron{
    position: sticky;
    top: 0px;
}