*{
    margin: 0;
    padding: 0;
}
.body{
    min-height: 100vh;
    overflow-y: scroll;
}
.paneContent{
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none;
}
.jumbotron{
    position: sticky;
    top: 0px;
}
#userInfo{
    max-width: 400px;
}
.userName{
    display: flex;
    justify-content: space-between;
}
.userRollno{
    display: flex;
    justify-content: space-between;
}
.issueWithdrawBtns{
    display: flex;
    justify-content: space-between;
}
.issuedBooksTable th,td{
    padding-top: 10px;
    padding-right: 40px;
}