<nav class="navbar navbar-dark bg-dark justify-content-between sticky-top">
    <a class="navbar-brand text-light">Library</a>
    <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="signOut">Sign Out</button>
  </nav>