<div class="paneContent tab-pane fade show active p-5" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <form class="issueForm p-5">
        <div class="form-group">
          <label for="exampleInputEmail1">Enter User Id</label>
          <input type="email" class="form-control" id="exampleInputuserId" placeholder="User Id">
        </div>
        <div class="form-group">
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="userSearch">Search</button>
        </div>
    </form>
    <div id="userInfo"></div>
    <div class="UserFieldEmptyPop alert alert-dark alert-dismissible hide">
        <button type="button" class="close">&times;</button>
        <strong>Field Can Not Be Empty!</strong>
    </div>
    <div class="UserFieldNanPop alert alert-dark alert-dismissible hide">
        <button type="button" class="close">&times;</button>
        <strong>Wrong Format of Id Entered!</strong>
    </div>
    <div id="spareContent"></div>
</div>
<script src="/static/adminJS/issue.js"></script>